<div data-page="module" class="page">

	<div class="navbar">

		<div class="navbar-inner">

			<div class="left">
				<a href="#" class="back link">
					<i class="f7-icons">chevron_left</i>
				</a>
			</div>

			<div class="center module_name"></div>

		</div>

	</div>

	<div class="page-content">

		<form data-search-list=".module-forms-list-block" data-search-in=".item-title" class="searchbar searchbar-init">

			<div class="searchbar-input">
				<input type="search" placeholder="Search module forms">
				<a href="#" class="searchbar-clear"></a>
			</div>

			<a href="#" class="searchbar-cancel">
				Cancel
			</a>

		</form>

		<div class="searchbar-overlay"></div>

		<div class="content-block searchbar-not-found">
        	No forms found matching that criteria
        </div>

		<div class="list-block module-forms-list-block searchbar-found no-margin">
			<ul></ul>
		</div>

	</div>

</div>
